@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: 'Lato';
  text-align: center;
  height: 80vh;
  background-color: #002A3B;
  color: white

}

.container {
  padding: 1em;
  border-radius: 15px;
}

.currencies {
  display: flex;
  flex-wrap: wrap;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}
